<div class="center jumbotron">
  <% if logged_in? %>
  <h2>Clique ici pour voir la reponse de l'univers</h2>
   <%= link_to "THE SECRET", '/secret' %></p>
  <% else %>
  <h1>Decouvre les secrets de l'univers</h1>
  <h3>
    Inscris-toi pour les decouvrir !
  </h3>
  <p><%= link_to "Sign up", new_user_path,class: "btn btn-lg btn-primary" %></p>
    <p>Deja inscrit ? <%= link_to "Log in", '/login' %></p>
 <% end %>
</div>
